.menu {
  margin-top: map.get($spacers, 4);
  padding: 0;

  font-weight: 500;

  list-style: none;
  
  background: #fff;

  @include media-breakpoint-up(xl) {
    padding: 0 map.get($spacers, 4);
    
  }

  a {
    position: relative;

    display: block;
    padding-top: map.get($spacers, 3);
    padding-bottom: map.get($spacers, 3);

    color: $custom-gray-light;
    text-decoration: none;

    &:hover,
    &.active {
      color: $custom-dark;

      .icon {
        filter: invert(61%) sepia(56%) saturate(5872%) hue-rotate(218deg)
          brightness(83%) contrast(90%);
      }
    }

    &.active {
      &::before {
        position: absolute;
        top: 0;
        left: ($grid-gutter-width * 0.5) * -1;

        width: 4px;
        height: 100%;

        background-color: $custom-purple;
        box-shadow: 0 2px 10px rgb(102 102 204 / 67%);

        content: "";

        @include media-breakpoint-up(xxl) {
          left: (map.get($spacers, 4) + $grid-gutter-width * 0.5) * -1;
        }
      }
    }

    .icon {
      margin-right: map.get($spacers, 2);

      @include media-breakpoint-up(lg) {
        margin-right: map.get($spacers, 6);
      }
    }
  }
}
