mixin button(path, title, className, id)
  if(id !== null)
    button.btn-custom(class= className, id= id)
      img(src= path, alt= title)
      span= title
  else
    button.btn-custom(class= className)
      img(src= path, alt= title)
      span= title
