mixin createMenu(dataMenu)
  ul.menu
    each item in menu 
      li 
        if item.active
          a.active(href="#")
            img.icon(src= item.img)
            = item.title
        else 
          a(href="#")
            img.icon(src= item.img)
            = item.title
